.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Tower {
  margin: 0 10px;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.rings {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 26px;
  margin: 0 auto;
}

.Ring {
  width: 140px;
  height: 20px;
  background-color: green;
  margin-top: 5px;
}

.tower-bg {
  position: absolute;
}

.tower-pillar {
  width: 25px;
  height: 280px;
  background-color: #353535;
  margin: 0 auto;
}

.tower-base {
  width: 100px;
  height: 18px;
  background-color: #7c7a75;
  margin: 0 auto;
}

.controls {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  /* background-color: green; */
}

.number-controls {
  text-align: right;
}

.buttons > button {
  width: 50%;
}

.number-input {
  width: 40px;
}
